@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

main {
  /* font-family: "Futura", sans-serif; */
  font-family: "Jost", sans-serif;
  /* font-family: 'Kumbh Sans', sans-serif; */
}
nav {
  font-family: "Gilroy-Bold", sans-serif;
}
/* --------------------------- */

/* hover button underline */
.hover-underline-animations,
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}
.hover-underline-animations {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline-animations:after,
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animations2:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animations:hover:after,
.hover-underline-animation:hover:after,
.hover-underline-animations2:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* --- */
/* for button */
.parent:hover .child:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* ------------------ */
/* --- */
.child2,
.child {
  display: none;
}

.parent:hover .child2,
.parent:hover .child {
  display: block;
}

.bgParent {
  opacity: 0.6;
}
.parent:hover .bgParent {
  background-color: black;
  --tw-bg-opacity: 0.5;
  opacity: 0.5;
}
