.btn-3 {
  display: inline-block;
  position: relative;
  background-color: white;
  color: #737373;
  border: 1px solid #737373;
  cursor: pointer;
}
.btn-span {
  display: block;
}
.btn-3::before,
.btn-3::after {
  /* content: ""; */
  width: 0;
  height: 1px;
  position: absolute;
  transition: all 0.2s linear;
  background: #475569;
}

.btn-span::before,
.btn-span::after {
  /* content: ""; */
  width: 1px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #475569;
}
.btn-3:hover::before,
.btn-3:hover::after {
  width: 100%;
}
.btn-3:hover .btn-span::before,
.btn-3:hover .btn-span::after {
  height: 100%;
}

.btn-span:hover .btn-icons {
  transform: translateX(5px); /* Move the icon 5 pixels to the right */
  color: #475569;
}
.btn-3:hover .btn-icons {
  transform: translateX(5px); /* Move the icon 5 pixels to the right */
  color: #475569;
}

.btn-icons {
  transition: transform 0.2s ease-in-out; /* Add a transition effect */
}
/*----- button 3 -----*/
.btn-3::after {
  left: 0;
  bottom: 0;
  transition-delay: 0.6s;
}
.btn-3 span::after {
  transition-delay: 0.4s;
  right: 0;
  bottom: 0;
}
.btn-3::before {
  right: 0;
  top: 0;
  transition-delay: 0.2s;
}
.btn-3 span::before {
  transition-delay: 0s;
  left: 0;
  top: 0;
}

.btn-3:hover::after {
  transition-delay: 0s;
}
.btn-3:hover span::after {
  transition-delay: 0.2s;
}
.btn-3:hover::before {
  transition-delay: 0.4s;
}
.btn-3:hover span::before {
  transition-delay: 0.6s;
}

@media (min-width: 1024px) {
  .contact-btn button {
    width: 15rem;
  }
}
/* ---------------------------------------------------- */
/* @-mobile drawer */
.Drawer__Container-Search {
  padding: 20px;
  top: 0px;
  right: 0px;
  height: 100%;
  /* width: 80%; */
  background-color: #f8fafc;
  transition: all 0.3s ease-in-out;
  transform: translate(110%);
  position: fixed;
  z-index: 10000;
}
.openInStyle {
  transition: all 0.3s ease-in-out;
  transform: translate(0%);
}

@media (min-width: 768px) {
  .Drawer__Container-Search {
    width: 25rem;
  }
}

@media (max-width: 768px) {
  .Drawer__Container-Search {
    width: 80%;
  }
}
.Drawer__Container {
  padding: 20px;
  top: 0px;
  left: 0px;
  height: 100%;
  /* width: 65%; */
  width: 80%;
  background-color: #000000e0;
  transition: all 0.3s ease-in-out;
  transform: translate(-110%);
  position: fixed;
  /* position:absolute; */
  z-index: 10000;
}

.DrawerButton_Container:active {
  transform: translateY(5px);
}

.Drawer__Container--isOpen {
  transform: translate(0);
  box-shadow: unset;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
}

.overlay1 {
  position: fixed;
  /* top: 0; */
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(76, 76, 76, 0.5);
}
/* ---------------------------------------------------- */
/* @-navigation links web */
.iconHome:focus {
  border-color: blue;
}
.iconChecker:active .iconCheckerI,
.iconChecker:focus .iconCheckerI {
  display: inline-block;
  animation: iconFadeIn 0.5s ease forwards;
}

.iconChecker:active,
.iconChecker:focus {
  color: white;
}
.iconChecker {
  display: flex;
  align-items: center;
}

@media (min-width: 1400px) {
  .iconChecker {
    /* padding: 0 1.5rem; */
    padding: 0 1rem;
    /* margin: 0 0.6rem; */
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .iconChecker {
    padding: 0 0.2rem;
    margin: 0 0.5rem;
  }
}
@media (min-width: 850px) and (max-width: 1024px) {
  .iconChecker {
    padding: 0 0.5rem;
    margin: 0 0.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .iconChecker {
    padding: 0 0.5rem;
    margin: 0 0.6rem;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .iconChecker {
    padding: 0 0.8rem;
    margin: 0 0.6rem;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .iconChecker {
    padding: 0 1rem;
    margin: 0 0.6rem;
  }
}

/* Define the animation for fading in the icon */
@keyframes iconFadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* ---------------------------------------------------- */
.imageZoom {
  transition: transform 0.5s ease;
}

.imageZoom:hover {
  transform: scale(1.03);
}
