@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(239, 239, 239);
}

::-webkit-scrollbar-thumb {
  background-color: #0e121d;
  border-radius: 1rem;
  border: 0.1rem solid transparent;
  background-clip: content-box;
}

@keyframes slidebottomtotop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes lsc {
  0% {
    transform: scale(2);
    -webkit-transform: scale(2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/*change*/
body {
  animation: 2s ease-out 0s 1 slidebottomtotop;
  animation: lsc 2s ease-in;
  -webkit-animation: lsc 2s ease-in;
}

@media (max-width: 767px) {
  .web {
    display: none;
  }
}

@media (min-width: 1024px) {
  .mob {
    display: none;
  }
}

.hv {
  height: 500px;
}
